/*font-family: 'Roboto', sans-serif;*/

:root {
  --heading-font-family: "Roboto", sans-serif;
  --heading-text-graycolor: #e0e0e0;
  --content-p-color: #4c4c4c;
}

.hero {
  background-image: url("images/hero_background_img.png");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 180px 0;
}

.about-hero {
  background-image: url("images/about_hero_background_img.png");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 150px;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  color: white;
  font-size: 78px;
}

.about-title {
  font-family: var(--heading-font-family);
  font-weight: 500;
  color: white;
  font-size: 58px;
}

h2 {
  font-family: var(--heading-font-family);
  font-style: italic;
  font-weight: 300;
  color: var(--heading-text-graycolor);
  font-size: 36px;
}

.about-intro {
  font-family: var(--heading-font-family);
  font-style: italic;
  font-weight: 300;
  color: var(--heading-text-graycolor);
  font-size: 26px;
  line-height: 40px;
}

h3 {
  font-family: var(--heading-font-family);
  font-style: italic;
  font-weight: 500;
  font-size: 36px;
}

p {
  font-family: var(--heading-font-family);
  color: var(--content-p-color);
  font-weight: 400;
  font-size: 18px;
}

.year {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 18px;
}

.nameoftheexhibition {
  font-family: var(--heading-font-family);
  font-style: italic;
  color: var(--content-p-color);
  font-weight: 700;
  font-size: 18px;
}

.btn-light {
  background-color: black;
  color: white;
  font-size: 18px;
  line-height: 27px;
  margin: 50px 10px;
  padding: 12px 50px;
  border-radius: 0;
}

.btn-outline-dark {
  font-size: 18px;
  line-height: 27px;
  padding: 12px 40px;
  border-radius: 0;
}

.project-desciption {
  padding: 30px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }

  .about-hero {
    padding: 50px;
  }

  .about-title {
    font-size: 32px;
  }

  .about-intro {
    font-size: 16px;
    line-height: 24px;
  }

  h2 {
    font-size: 28px;
  }

  .btn-light {
    font-size: 16px;
    margin: 20px 8px;
    padding: 8px 20px;
  }

  h3 {
    font-size: 28px;
  }

  p,
  .exhibition_intro,
  .nameoftheexhibition {
    font-size: 16px;
    line-height: 24px;
  }
}
